<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>联系我们</title></%block>

<section class="container about">
  <nav>
    <a href="/about">${_("Vision")}</a>
    <a href="/faq">${_("Faq")}</a>
    <a href="/contact" class="active">${_("Contact")}</a>
  </nav>

  <section class="contact">
    <div class="photo">
      <img src="${static.url('themes/imbacampus-theme/images/')}">
    </div>
    <div class="contacts">
        <section>

          <p>iMBACampus是由微见教育（TE Education）创建的商科在线教育平台。致力于以创新的方式提供人人可用的商科在线学习互动平台。</p>
        </section>
    </div>
  </section>
</section>

