<%! from django.utils.translation import ugettext as _ %>
<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>关于</title></%block>

<section class="container about">
  <nav id="about-menu">
    <a href="/about" class="about active">关于</a>
    <a href="/faq">${_("Faq")}</a>
    <a href="/contact">${_("Contact")}</a>
    
  </nav>

  <section class="vision">
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/imbacampus-theme/images/bistux-campus.jpg')}" alt="bistux-campus" />
      </div>
      <article>
        <h2>关于 本站</span></h2>

        <p>iMBACampus是由微见教育（TE Education）创建的商科在线教育平台。致力于以创新的方式提供人人可用的商科在线学习互动平台。</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

   
  </section>

</section>
